body, html {
    background-color: rgb(81, 215, 248);
}

#painting {
    background-color:#f6f6f6;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}

#toprow {
    height: 290px;
}

#bigbox {
    width: 290px;
    height: 290px;
}

.red {
    background-color:#cc3333 ;   
}
.blue {
    background-color: blue; 
}
.yellow {
    background-color: yellow;   
}
.black {
    background-color: black;   
}

.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: pink;
}
.right {
    float: right;
}
.left{
float: left;
}
#divider1 {
    height: 290px;
    width: 10px;
}
.mediumbox {
    width: 100px;
    height: 140px;
}

#divider2 {
    height: 10px;
    width: 100px;
}
#middlerow{
height: 10px;

}

#bottomrow{
height: 100px;
width: 400px;
}

#box2{
    width: 100px;
    height: 100px;
}

#divider3 {
    width: 10px;    
    height: 100px;
}

#box3{
width: 260px;
height: 100px
}

#divider4{
height: 100px;
width: 10px;
}

#box4{
height: 45px;
width: 20px;
}

#divider5{
    height: 10px;
    width: 20px;
}

#box5{
    height: 45px;
    width: 20px;
}
